h2{
    width: 304px;
    height: 38px;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    text-transform: capitalize;
    color: #000000;
}
.products_box{
    box-sizing: border-box;
    width: 1085px;
    height: 129px;
    left: 300px;
    top: 195px;
    background: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    box-shadow: none;
    margin-bottom: 20px;
}
.pd{
    padding-top:20px;
}
.status_paid{
    width: 123px;
    height: 25px;
    background: #A2E891;
    border-radius: 12px;
    margin-left: 215px;
    border: none;
    margin-top: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #282828;
    cursor: default;
}
.status_unpaid{
    width: 123px;
    height: 25px;
    background: #E8A091;
    border-radius: 12px;
    margin-left: 215px;
    border: none;
    margin-top: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    cursor: default;
}
.tr{
width: 550px;
height: 20px;
left: 13px;
top: 142px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 50px;
margin-left: 11px;
/* identical to box height */
text-transform: capitalize;
color: #000000;
text-align: center;
}
.price{
width: 110px;
height: 17px;
left: 1px;
top: 42.5px;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #888888;
}
.createdAt{
left: 1px;
top: 42.5px;
width: 108px;
height: 15px;
top: 24px;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #888888;
}
.vendor_name{
width: 108px;
height: 15px;
left: 0px;
top: 24px;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #888888;
}
.prd_name{
width: 101px;
height: 22px;
left: 0px;
top: 0px;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #525252;
}
.img-box{
    width: 100px;
    height: 110px;
    border-radius: 8px;
    background-color: pink;
    margin-top: 7px;
    margin-left: 7px;
}
.prd_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.options{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    float: right;
    margin-top: 7px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 5px;
    cursor: pointer;
}
.eye{
    padding-top: 8px !important;
}
.status{
width: 123px;
height: 25px;
background: #A2E891;
border-radius: 12px;
}
.request{
box-sizing: border-box;
width: 152px;
height: 29px;
left: 907px;
top: 87px;
background: linear-gradient(180deg, #38D8C3 0%, #1AB49F 100%);
border: 1px solid #2CF2D8;
box-shadow: 0px 4px 4px rgba(48, 207, 186, 0.28);
border-radius: 150px;font-weight: 400;
font-size: 13px;
line-height: 16px;
text-transform: capitalize;
color: #FFFFFF;
margin-right: 20px;
}
.pn_d{
    float: right;
    margin: -30px 20px 0px 0px;
}
.full{
box-sizing: border-box;
width: 152px;
height: 29px;
left: 738px;
top: 87px;
background: linear-gradient(180deg, #585B5B 0%, #151515 100%);
border: 1px solid #313434;
box-shadow: 0px 4px 4px rgba(48, 207, 186, 0.28);
border-radius: 150px;
font-weight: 400;
font-size: 13px;
line-height: 16px;
text-transform: capitalize;
color: #FFFFFF;
}